/* Con el "*" se aplican las reglas a todos los archivo html vinculados */
* {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.index {
    background: url(images/fondoIndex.jpg);
    padding-top: 20px; /* Agregado relleno arriba al index principal */
}

.indexGato {
    background: url(images/fondoGato.jpg);
}

.indexPerro {
    background: url(images/fondoPerro.jpg);
    
}

.index, .indexPerro, .indexGato {
    background-attachment: fixed; /*Fondo fijo durante el scroll */
    padding-left: 100px; /* Relleno izquierdo */
    padding-right: 100px; /* Relleno derecho */
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}


h1, h2 {
    text-align: center; /* Todos los títulos grandes estarán centrados */
}

p {
    font-size: 24px; /* Los párrafos tienen 24px */
}

a {
    text-decoration: none; /* Borrado subrayado de todos los enlaces */
    font-size: 20px; /* Los enlaces tienen 20px */
}

li {
    font-size: 20px; /* Los items de lista tienen 20px */
}

.navegacion {
    text-align: right; /* Agregué un div a cada enlace <a> de navegación y los ubiqué a la derecha */
}

.articuloIndex, .articuloGato, .articuloPerro {
    margin: 35px; /* A cada articulo de animales, le puse este margen */
    display: flex; /* Le di flexibilidad a la imagen y al articulo para poder alinearlos verticalmente */
    align-items: center; /* Alineación vertical lograda */
}

.urlTexto {
    margin-left: 50px; /* Separación entre la imagen y el link */
}

.descripcionGato, .descripcionPerro {
    padding-top: 30px; /* Agregado relleno arriba a las fichas descriptivas */
    display: flex; /* El display de flex coloca la lista a continuacion de la imagen para cumplir con el diseño del mockup */
}

.listaDescripcion {
    list-style: none; /* Eliminamos viñetas por defecto de la lista de la descripcion */
}