<!DOCTYPE html>
<html lang="es">

<head>
	{% load static %}
	<title>🐾ONG Ayuda a un Peludo🐱</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'core/css/estilos.css'%}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body id="body">
	<div class="jumbotron jumbotron-fluid m-0 py-2" id="jumbotron">
		<div class="container">
			<h1 class="display-4">🐾AYUDA A UN PELUDO🐱</h1>
			<p class="lead">¿Buscas un nuevo mejor amigo? Somos una organización sin fines de lucro protectora de
				animales, que surge de
				la
				necesidad de proteger a animales domésticos en situación de maltrato o abandono, y busca desarrollar una
				cultura
				de protección activa de la vida animal y tenencia responsable de mascotas en nuestro país.</p>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-info" id="nav">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">🏠 Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'gato' %}">Gatos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'perro' %}">Perros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'donar' %}">Donar</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container py-4">
		<h1 class="text-center pb-2">Nuestras Mascotas</h1>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{% static 'core/img/gato.jpg'%}" class="d-block w-100 rounded" alt="..." height="600px">
				</div>
				<div class="carousel-item">
					<img src="{% static 'core/img/perro.jpg'%}" class="d-block w-100 rounded" alt="..." height="600px">
				</div>
				<div class="carousel-item">
					<img src="{% static 'core/img/perro1.jpg'%}" class="d-block w-100 rounded" alt="..." height="600px">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<footer class="container-fluid text-white bg-info py-3" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md">
					<p>Redes Sociales:</p>
					<a href="mailto:ayudaaunpeludo@gmail.com">✉️Correo Electrónico</a>
					<br>
					<a href="https://www.facebook.com/AyudaAUnPeludo_">👨‍💻Facebook</a>
					<br>
					<a href="https://www.instagram.com/AyudaAUnPeludo_">📷Instagram</a>
					<br>
					<p class="mt-2">2021 © Todos los Derechos Reservados</p>
				</div>
				<div class="col-md botonNocturno">
					<button type="button" id="black" class="btn btn-dark">🌛Apagar luces</button>
					<button type="button" id="white" class="btn btn-light d-none">☀Prender luces</button>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
			$('#black').click(function () {
				$('#nav').addClass('bg-dark');
				$('#body').attr('style', 'background-color: #4B4B4B !important');
				$('#jumbotron').attr('style', 'background-color: #4B4B4B !important');
				$('#footer').addClass('bg-dark');
				$('#jumbotron').removeClass('text-dark');
				$('#jumbotron').addClass('text-white');
				$('#body').removeClass('text-dark');
				$('#body').addClass('text-white');
				$('#footer a').removeClass('text-dark');
				$('#footer a').addClass('text-white');
				$('#black').addClass('d-none');
				$('#white').removeClass('d-none');
			})
			$('#white').click(function () {
				$('#nav').removeClass('bg-dark');
				$('#nav').addClass('bg-info');
				$('#body').attr('style', 'background-color: #C2F3F5 !important');
				$('#jumbotron').attr('style', 'background-color: #C2F3F5 !important');
				$('#footer').removeClass('bg-dark');
				$('#footer').addClass('bg-info');
				$('#jumbotron').removeClass('text-white');
				$('#jumbotron').addClass('text-dark');
				$('#body').removeClass('text-white');
				$('#body').addClass('text-dark');
				$('#footer a').removeClass('text-white');
				$('#footer a').addClass('text-dark');
				$('#white').addClass('d-none');
				$('#black').removeClass('d-none');
			})
		})
	</script>
</body>

</html>